@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #a2a2a2;
		font-family: "Lora", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.5em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		text-decoration: none;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #787878;
		font-weight: 400;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

	h1 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	.factions {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin-top: 1em;
		margin-left: -1em;
		article {
			width: 50%;
			margin-bottom: 1em;
			padding-left: 1em;
			a {
				img {
					display: block;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					border-radius: 0.35em;
					width: 100%;
				}
			}
		}
		
	}

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}
		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
			line-height: inherit;
		}
		.icon.solid:before {
			font-weight: 900;
		}
		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

	.logo {
		position: relative;
		display: block;
		text-align: center;
		img {
			width: 12em;
		}
	}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}
		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}
			ul.icons li:last-child {
				padding-right: 0;
			}
			ul.icons li .icon:before {
				font-size: 1.5em;
			}
	ul.actions {
		padding: 0;
		margin: 0;
	}
	ul.actions li {
		padding: 0 0 0 0;
		width: 100%;
	    list-style: none;
	}
	ul.actions li > * {
		width: 100%;
	}
	ul.actions li:first-child {
		padding-top: 0;
	}
	ul.actions li a {
		text-align: left;
	    overflow: hidden;
    	text-overflow: ellipsis;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-moz-align-items: -moz-center;
		-webkit-align-items: -webkit-center;
		-ms-align-items: -ms-center;
		align-items: center;
		margin-bottom: 0.5em;
	}
	ul.actions li a span {
		overflow: hidden;
    	text-overflow: ellipsis;
		white-space: nowrap;
	}
	ul.actions li .icon:before {
		width: 18px;
	}
	ul.actions li *:hover {
		border-color: rgb(120, 120, 120);
	}

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: -moz-flex-end;
		-webkit-align-items: -webkit-flex-end;
		-ms-align-items: -ms-flex-end;
		align-items: flex-end;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background-color: #1f1815;
		background-attachment: scroll,								scroll;
		background-image: url("../images/overlay.png"), url("../images/bg.jpg");
		background-position: top left,							top left;
		background-repeat: repeat,								no-repeat;
		background-size: auto,								150%;
		color: rgba(255, 255, 255, 0.5);
		height: 100%;
		left: 0;
		padding: 8em 4em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 35%;
	}

		#header > * {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			width: 100%;
		}

		#header > .inner {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			margin: 0 0 2em 0;
		}

		#header strong, #header b {
			color: #ffffff;
		}

		#header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

		#header h1 {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
		}

/* Main */

	#main {
		margin-left: 35%;
		max-width: 54em;
		padding: 2em 4em 1em 4em;
		width: calc(100% - 35%);
	}

		#main > section {
			border-top: solid 2px #efefef;
			margin: 2em 0 0 0;
			padding: 2em 0 0 0;
		}

			#main > section:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}

/* XLarge */
	@media screen and (max-width: 1800px) {
		body, input, select, textarea {
			font-size: 12pt;
		}
	}

/* Large */
	@media screen and (max-width: 1280px) {
		#header {
			padding: 6em 3em 3em 3em;
			width: 30%;
		}
			#header h1 {
				font-size: 1.25em;
			}
				#header h1 br {
					display: none;
				}
			#header > .inner {
				margin-bottom: 0;
			}
		#main {
			margin-left: 30%;
			max-width: none;
			padding: 6em 3em 3em 3em;
			width: calc(100% - 30%);
		}

	}

/* Medium */

	@media screen and (max-width: 980px) {
		h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
			display: none;
		}
		ul.icons li .icon {
			font-size: 1.25em;
		}
		#header {
			background-attachment: scroll;
			background-position: top left, center center;
			background-size: auto,		cover;
			left: auto;
			padding: 6em 4em;
			position: relative;
			text-align: center;
			top: auto;
			width: 100%;
			display: block;
		}
			#header h1 {
				font-size: 1.75em;
			}
				#header h1 br {
					display: inline;
				}
		#main {
			margin: 0;
			padding: 6em 4em;
			width: 100%;
		}
	}

/* Small */

	@media screen and (max-width: 736px) {
			h1 {
				font-size: 1.5em;
			}

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1em;
			}


			#header {
				padding: 2.25em 1.5em;
			}

				#header h1 {
					font-size: 1.35em;
				}

			#main {
				padding: 2.25em 1.5em 2.25em 1.5em;
			}

				#main > section {
					margin: 2.25em 0 0 0;
					padding: 2.25em 0 0 0;
				}
	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Header */

			#header {
				padding: 4.5em 1.5em;
			}

				#header h1 br {
					display: none;
				}

	}	