* {
  -webkit-user-select: none; /* Safari/Chrome iOS */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

#version {
	font-family: monospace;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	padding: 0px 15px;
	margin: 0;
	opacity: 0.5;
	font-size: 8px;
	border-radius: 100px;
}
.description {
	margin-top: 1.4em;
	color: #eee;
	text-align: center;
	font-size: 0.85em;
	line-height: 1.5em;
}

.actions .instagram {
	display: inline-block;
	width: 49%;
}
	.actions .instagram * {
		color: #E4405F;
	}
	.actions .instagram *:hover {
		border-color: #E4405F;
	}

.actions .facebook {
	display: inline-block;
	width: 49%;
	float: right;
}
	.actions .facebook * {
		color: #1877F2;
	}
	.actions .facebook *:hover {
		border-color: #1877F2;
	}

.actions .whatsapp {
	//
}
	.actions .whatsapp :before {
		color: #25D366;
	}
	.actions .whatsapp *:hover {
		border-color: #25D366;
	}


.button--primary {
  background-color: #f54900 !important;
  border-color: #f54900 !important;
}
	.button--primary * {
		color: #fff;
	}

